.subscription:hover {
    background-color: lightcyan;
}

h1,h2,h3,h4 {
    margin:0;
}

nav li > span {
    cursor: pointer;
}

nav li > span:hover {
    background-color: cadetblue;
}

.channel:hover {
    background-color:lightblue;
}

.dark-button:hover {
    background-color: rgb(25, 39, 52);
}

/* width */
.chatbox::-webkit-scrollbar {
    width: 5px;
}

  /* Track */
.chatbox::-webkit-scrollbar-track {
    background: rgb(25, 39, 52);
}

.chatbox::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5px;
}

.chatbox::-webkit-scrollbar-thumb:hover {
    background: #555; 
}